<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://github.com/Arquitectura-de-Software-UFPS-2022-I">
                        Repositorio
                    </a>
                </li>
                <li>
                    <a href="https://ww2.ufps.edu.co/">
                        Acerca
                    </a>
                </li>
                <li>
                    <a href="https://ufps-arquitectura-de-software.blogspot.com/">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}},
            <a href="https://uvirtual.cloud.ufps.edu.co/mod/assign/view.php?id=29405" target="_blank">Tarea 0 </a>Desarrollado en java web con frameword Angular y SpringBoot.
        </div>
    </div>
</footer>
