<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title "><b>Documentos Firmados</b></h4>
                        <p class="card-category"> documentos que ha firmado.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Documento/Firma</th>
                                        <th scope="col">Fecha</th>                                  </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let file of listarFile">
                                        <th>{{file.id}}</th>
                                        <td><a href="{{file.file}}">{{file.name}}</a></td>
                                        <td>{{file.create_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  