<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title"> <b>Información personal</b> </h4>
            <p class="card-category">Tus datos personales</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <h4>Username</h4>
                    <input [(ngModel)]="user.username" matInput  placeholder="Username" type="text" name="username" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <h4>Correo electrónico</h4>
                    <input [(ngModel)]="user.email" matInput placeholder="Correo electrónico" type="email" name="email" disabled>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <h4>Nombre completo</h4>
                    <input [(ngModel)]="user.full_name" matInput placeholder="Nombre completo" type="text" name="full_name" disabled>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <h4>Firma</h4>
                    <form (submit)="updatefirma()" enctype="multipart/form-data">
                    <input [(ngModel)]="user.signature"  matInput type="file" name="signature">
                    </form>
                    <img id="img" [src]="user2.signature" name="signature" alt="">
                    <div id="preview"></div>
                  </mat-form-field>
                </div>
              </div>
              <button  type="submit" class="btn btn-danger pull-right"
                (click)="updatefirma()">Actualizar Información</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-header card-header-danger">
            <h4 class="card-title"><b>Ingresa tu firma</b> </h4>
            <p class="card-category">Es importante que la hagas igual a la manual</p>
          </div>
          <div class="card-body">
            <div class="firmaInPa">
              <!-- ================ Firma -->
              <div id="box-firm">
                <div id="capture-firm"></div>
                <div class="row subbox-firm firma-digital">
                  <div class="col-sm-12 firma-digital--body">
                    <div class="box-canvas">
                      <canvas #firmaDigital id="canvas" width="500" height="180" name="firmMd"
                        style="touch-action: none"></canvas>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <button id="save_firm" type="button" class="btn btn-sm btn-primary"
                      (click)="guardarPNG()">Guardar</button>
                    <button id="clear_firm" type="button" class="btn btn-sm btn-primary"
                      (click)="limpiarFirma();">limpiar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>